#app-mainpage {
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#app-tabs {
    outline-style: solid;
    outline-width: 1pt;
    outline-color: var(--accent-color);
    max-width: 20rem;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#app-page,
#app-exercises,
#app-ai,
#app-search-replace {
    outline-style: solid;
    outline-width: 1pt;
    outline-color: var(--accent-color);
    color: var(--font-color);
    max-width: 50rem;
    gap: 0.75rem;
    padding: 5rem;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

#app-page::-webkit-scrollbar,
#app-exercises::-webkit-scrollbar,
#app-ai::-webkit-scrollbar,
#app-search-replace::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#app-page > div,
#app-exercises > div,
#app-ai > div,
#app-search-replace > div {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#app-search-replace > .rteditor {
    box-sizing: border-box;
    display: flex;
    height: 300pt;
    min-height: 300pt;
    overflow-y: scroll;
    flex-direction: column;
}

#app-search-replace-search,
#app-search-replace-replace {
    width: 100%;
    max-width: 100%;
}

.pteditor {
    box-sizing: border-box;
    display: flex;
    height: 75pt;
    overflow-y: scroll;
    flex-direction: column;
}

#app-search-replace > .rteditor::-webkit-scrollbar,
.pteditor::-webkit-scrollbar {
    width: 8px;
}

#app-search-replace > .rteditor::-webkit-scrollbar-track,
.pteditor::-webkit-scrollbar-track {
    background: transparent;
}

#app-search-replace > .rteditor::-webkit-scrollbar-thumb,
.pteditor::-webkit-scrollbar-thumb {
    background-color: var(--input-hover-color);
    border-radius: 1px;
}

#app-search-replace > .rteditor::-webkit-scrollbar-thumb:hover,
.pteditor::-webkit-scrollbar-thumb:hover {
    background-color: var(--input-focus-color);
    cursor: default;
}

#app-page > h1,
#app-page > hr,
#app-exercises > h1,
#app-exercises > hr,
#app-ai > h1,
#app-ai > hr,
#app-search-replace > h1,
#app-search-replace > hr {
    margin: 0.5rem 0rem;
}

#app-page button,
#app-exercises button,
#app-ai button[short="true"],
#app-search-replace button[short="true"] {
    max-width: 8rem;
}

.error-label {
    text-align: left;
    position: relative;
    margin: 0 1.75rem 0 1.75rem;
    max-width: 30rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: lighter;
    line-height: calc(1.4375);
    letter-spacing: 0px;
    color: var(--error-color);
    opacity: 1;
}

.checkbox-label {
    text-align: left;
    position: relative;
    margin: 0 0 0 0.5rem;
    max-width: 30rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: lighter;
    line-height: calc(1.4375);
    letter-spacing: 0px;
    color: var(--font-color);
    opacity: 1;
}

.spacer {
    height: 5rem;
}

.spacerH {
    width: 5pt;
    min-width: 5pt;
}

#app-tabs-message {
    color: var(--font-color);
    text-align: center;
    position: relative;
    font-weight: 700;
    margin: 0.25rem 0 1rem 0;
    font-size: 1rem;
    line-height: calc(1.4375);
    letter-spacing: 0px;
    transform: translateY(0.375rem);
}

.app-tab {
    height: 30pt;
    font-weight: 500;
    font-size: 0.8125rem;
    text-align: left;
    align-content: center;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 0.8125rem;
    outline: none;
    border: 0pt;
    border-radius: 0rem;
    padding: 0.4rem 1.25rem 0.4rem 1.25rem;
    width: 100%;

    display: flex;
    align-items: center;
}

.app-tab:hover {
    background-color: var(--button-hover-color);
}

.app-tab.active {
    background-color: var(--button-active-color);
}

.tab-icon {
    margin-top: 0.15rem;
    margin-right: 1rem;
}

.tab-icon path,
.tab-icon circle {
    fill: var(--font-color);
}

#form-message {
    text-align: center;
    position: relative;
    font-weight: 700;
    margin: 0 0 0.75rem 0;
    font-size: 1rem;
    line-height: calc(1.4375);
    letter-spacing: 0px;
    transform: translateY(0.375rem);
}

.small-loader {
    margin-left: 0.5rem;
    width: 0.8125rem;
    height: 0.8125rem;
    display: inline-block;
    position: relative;
}

.small-loader::after,
.small-loader::before {
    content: '';  
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--button-font-color);
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
}

.small-loader::before {
    animation-delay: -1s;
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.small-loader[data-inverted="true"]::after,
.small-loader[data-inverted="true"]::before {
    background: var(--background-color);
}

.app-ai-subpart {
    max-width: 80%;
    width: 80%;
}

/* Translation File formatting */
div.content {
    font-family: "Segoe UI", sans-serif;
}

div.content > [data-type="pt"] {
    color: royalblue;
}

div.content > [data-list] {
    position: relative;
    padding-left: 3em;
}

div.content > [data-list]::before {
    content: "•";
    position: absolute;
    left: 1.5em;
}

div.content > [data-list][data-level="2"] {
    --indent-level: 2;
    padding-left: calc(var(--indent-level) * 3em);
}

div.content > [data-list][data-level="2"]::before {
    --indent-level: 2;
    left: calc(var(--indent-level) * 3em - 1.5em);
}

div.content > [data-list][data-level="3"] {
    --indent-level: 3;
    padding-left: calc(var(--indent-level) * 3em);
}

div.content > [data-list][data-level="3"]::before {
    --indent-level: 3;
    left: calc(var(--indent-level) * 3em - 1.5em);
}

div.content > [data-list][data-level="4"] {
    --indent-level: 4;
    padding-left: calc(var(--indent-level) * 3em);
}

div.content > [data-list][data-level="4"]::before {
    --indent-level: 4;
    left: calc(var(--indent-level) * 3em - 1.5em);
}

div.content > [data-list][data-level="5"] {
    --indent-level: 5;
    padding-left: calc(var(--indent-level) * 3em);
}

div.content > [data-list][data-level="5"]::before {
    --indent-level: 5;
    left: calc(var(--indent-level) * 3em - 1.5em);
}

div.content > [data-list][data-level="6"] {
    --indent-level: 6;
    padding-left: calc(var(--indent-level) * 3em);
}

div.content > [data-list][data-level="6"]::before {
    --indent-level: 6;
    left: calc(var(--indent-level) * 3em - 1.5em);
}

div.content > h1 {
    font-size: 200%;
}

div.content > h2 {
    font-size: 185%;
}

div.content > h3 {
    font-size: 170%;
}

div.content > h4 {
    font-size: 155%;
}

div.content > h5 {
    font-size: 140%;
}

div.content > h6 {
    font-size: 125%;
}

.ptlabel {
    margin: 5pt 0pt;
}

div.content > h1,
div.content > h2,
div.content > h3,
div.content > h4,
div.content > h5,
div.content > h6 {
    text-align: center;
}

div.content span[data-mark] {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

div.content span[data-diff="yes"] {
    color: darkgreen;
    background-color: lightgreen;
    background-blend-mode: color-burn;
    cursor: pointer;
}

div.content span[data-diff="no"] {
    color: darkred;
    background-color: lightcoral;
    background-blend-mode: color-burn;
    cursor: pointer;
}

div.content {
    max-width: 800pt;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 5pt solid var(--font-color);
    padding: 20pt;
}

div.content > a > img {
    border: 2pt solid black;
    display: block;
    margin: auto;
    width: 100%;
    max-width: 500pt;
    height: auto;
    max-height: 100%;
}

div.content > a > embed {
    display: block;
    margin: auto;
    width: 500pt;
    height: 285pt;
}

.prompt {
    align-items: center;
    width: 100%;
}