/* Default color pallet */
:root {
    --background-color: #13141b;
    --accent-color: #2a2d3f;
    --font-color: #e4e5e9;
    --error-color: #e45559;
    --link-color: #555ca5;
    --link-hover-color: #8690fd;
    --button-font-color: #999eb3;
    --button-color: #191a24;
    --button-hover-color: #21232f;
    --button-active-color: #31333f;
    --button-inverted-color: #8690fd;
    --button-inverted-hover-color: #b1bdfe;
    --input-hover-color: #3d4258;
    --input-focus-color: #596ffc;
    --input-placeholder-color: #555c75;
}

body {
    overflow: hidden;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Helvetica, Arial, system-ui, sans-serif;
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
}

button {
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Helvetica, Arial, system-ui, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    appearance: none;
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-size: 0.8125rem;
    outline: none;
    cursor: pointer;
    border: 1pt solid var(--accent-color);
    border-radius: 0.1875rem;
    padding: 0.4374rem;
    width: 100%;
    height: 2.188rem;
}

button[data-inverted="true"] {
    border: 1pt solid var(--button-inverted-color);
    background-color: var(--button-inverted-color);
    color: var(--background-color);
}

button:hover {
    background-color: var(--button-hover-color);
}

button[data-inverted="true"]:hover {
    border: 1pt solid var(--button-inverted-hover-color);
    background-color: var(--button-inverted-hover-color);
}

input {
    line-height: 1.465;
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Helvetica, Arial, system-ui, sans-serif;
    font-size: 0.8125rem;
    appearance: none;
    background-color: var(--background-color);
    color: var(--font-color);
    outline: none;
    cursor: text;
    border: 1pt solid var(--accent-color);
    border-radius: 0.1875rem;
    padding: 0.4374rem;
    width: 100%;
    box-sizing: border-box;
    height: 2.188rem;
}

input:hover {
    border-color: var(--input-hover-color);
}

input:focus {
    border-color: var(--input-focus-color);
}

input::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1;
}

.divider {
    border: none;
    border-top: 1pt solid var(--accent-color);
    margin: 0 0;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    margin: 0;
}

input[type="checkbox"]:checked {
    background-color: var(--input-focus-color);
}

input[type="file"]::-webkit-file-upload-button {
    box-shadow: none;
    -webkit-font-smoothing: inherit;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Helvetica, Arial, system-ui, sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    appearance: none;
    background-color: var(--button-color);
    color: var(--button-font-color);
    font-size: 0.8125rem;
    outline: none;
    cursor: pointer;
    border: 1pt solid var(--accent-color);
    border-radius: 0.1875rem;
    padding: 0;
    width: 50%;
    max-width: 7rem;
    height: 100%;
}

input[type="file"]::-webkit-file-upload-button[data-inverted="true"] {
    border: 1pt solid var(--button-inverted-color);
    background-color: var(--button-inverted-color);
    color: var(--background-color);
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--button-hover-color);
}

input[type="file"]::-webkit-file-upload-button[data-inverted="true"]:hover {
    border: 1pt solid var(--button-inverted-hover-color);
    background-color: var(--button-inverted-hover-color);
}

input[type="file"]::-webkit-input-placeholder {
    color: var(--button-font-color);
}
